body{
    background-color: #fffffe;
    color: #2e2e2e;
}

.container{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    background-color: #994ff3;
    height: 100vh;
}

.h1{
    color: #181818;
    font-weight: bold;
}

.container-img{
    width: 100%;
    height: 500px;
}

.container-img img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

h2{
    font-size: 30px;
    color: #181818;
    font-weight: bold;
}
p{
    color: #2e2e2e;
    font-size: 20px;
    line-height: 30px;
}

